nav.sds {
  background-color: var(--sds-dark);
  height: 10vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.sds .selected {
  color: var(--sds-light);
}
.svgIcon {
  transform: scale(2);
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  nav.sds {
    display: none;
  }
}
