main.resume {
  display: flex;
  justify-content: space-around;
}
main.resume ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main.resume p {
  width: 40vw;
  align-self: center;
}
main.resume button {
  font-size: 2rem;
  padding: 1.75rem 4rem;
  border-width: 3px;
}
@media only screen and (max-width: 1000px) and (orientation: portrait) {
  main.resume {
    flex-direction: column;
  }
  main.resume ul {
    align-items: center;
  }
  main.resume button {
    font-size: 1rem;
    padding: 0.5rem 1;
    margin: 1rem 0;
    border-width: 0;
  }
  main.resume p {
    width: 80vw;
  }
}
