:root {
  --home-dark: #140c18;
  --home-light: #e0f9f7;
  --home-light-green: #7fe2db;
  --github-gray: #333333;
  --linkedin-blue: #0072b1;
  --pdf-red: #f40f02;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border-radius: 40px;
  padding: 0.3rem 1.2rem;
  border-color: var(--home-dark);
  color: var(--home-light);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.54);
  background-color: var(--home-dark);
  transition: box-shadow 0.2s;
}
button:hover {
  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
}
button.github {
  background-color: var(--github-gray);
}
button.linkedin {
  background-color: var(--linkedin-blue);
}
button.resume {
  background-color: var(--pdf-red);
}
main.home,
main.projects,
main.resume,
main.contact {
  overflow: hidden;
  background-color: #56a3a6;
  min-height: 92vh;
}
.homeBackgrounds {
  position: absolute;
  z-index: 1;
  height: 92vh;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .homeBackgrounds {
    display: none;
  }
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
