/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --home-dark: #201327;
  --home-light: #e0f9f7;
  --github-gray: #333333;
  --linkedin-blue: #0072b1;
  --pdf-red: #f40f02;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul,
ol {
  list-style: none;
}
main.home,
main.projects,
main.resume,
main.contact {
  overflow: hidden;
  background-color: var(--home-light);
  min-height: 92vh;
}
button {
  border-radius: 40px;
  padding: 0.3rem 1.2rem;
  border-color: var(--home-dark);
  color: var(--home-light);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.54);
  background-color: var(--home-dark);
}
button:hover {
  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
}
button.github {
  background-color: var(--github-gray);
}
button.linkedin {
  background-color: var(--linkedin-blue);
}
button.resume {
  background-color: var(--pdf-red);
}
